/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* includes padding, border, etc in sizing */
    text-decoration: none;
    /* removes underline from link*/
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* makes the default size of 1rem = 10px instead of the usual 16px*/
html {
    font-size: 62.5%;
}

/* End of Default Styles */

/* Container */
.container {
    width: 100%;
    height: 100%;
}

/* Navigation */
.navbar {
    width: 100%;
    height: 10rem;
    position: fixed;
    background-color: #2A76AC;
    top: 0;
    left: 0;
    padding-left: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 0.75rem solid #673D0D;
    z-index: 300;
    /*makes it appear on top of everything else */
    transition: all 0.5s;
}


.navigation a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffec73;
    margin-right: 3rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    /* space between the letters */
    position: relative;
    transition: all 0.3s;
}

.navigation a:hover {
    padding: 1rem;
    color: #000;
    background-color: #ffc107;
}


/* End of Navigation */