html {
    height: 100%;
    width: 100%;
  }
  
  body {
      margin: 0;
      padding: 0;
      overflow: hidden; /* to prevent scrolling */
      background-color: #fff; /* Background color */
      color: #000; /* Text color */
      font-family: Arial, sans-serif;
      text-align: center;
  }
  
  #looking-glass {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5); /* Initial transparent color */
  }
  
  #content {
      display: none; /* Hide content initially */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10; /* Ensure content is on top */
      background-color: white; /* Ensure readability */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  