body {
    margin: 20px;
}

.box {
    background-color: #247;
    color: #FFF;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 150%;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    background-color: rgb(202, 96, 96);
}