/* -------- CSS For Whole Page ----- */
html {
    height: 100%;
    width: 100%;
  }
  
  * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  table,tr, td {
      border: 2px solid;
      width: 50%;
  }