/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* includes padding, borders, etc. in size */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* removes underline from links*/
}

/*reduces the default size from 16px to 10px 
makes 1rem - 10pixels */
html {
    font-size: 62.5%;
}

/* End of Default Styles */

/* Container */
.container {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

.navbar {
    width: 100%;
    height: 10rem;
    background-color: #202020;
    position: fixed;
    top: 0;
    z-index: 100;
    /*appears on top of everything else */
}

.menu-icon {
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    right: 8rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.line {
    width: 4rem;
    height: .2rem;
    background-color: #ccc;
}

.navigation {
    width: 100%;
    height: 100vh;
    background-color: #0b0b14;
    position: absolute;
    top: -100vh;
    /* makes navigation come down from top*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columns */
    grid-auto-rows: 50% 50%;
    /* 2 rows for full screen */
    justify-content: center;
    align-items: center;
    transition: all .3s;
    /* z-index: 50; */
}

.change .navigation {
    top: 0;
}

.navigation a {
    font-family: cursive;
    font-size: 5rem;
    color: #fff;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    justify-self: center;
    opacity: 0;
    visibility: hidden;
}

/*shows the navigation on click */
.change .navigation a {
    opacity: 1;
    visibility: visible;
}