/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* includes padding, border, etc in sizing */
    text-decoration: none;
    /* removes underline from link*/
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* makes the default size of 1rem = 10px instead of the usual 16px*/
html {
    font-size: 62.5%;
}

/* End of Default Styles */

/* Container */
.container {
    width: 100%;
    height: 100%;
}



.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}