/* -- HEADER AREA -- */
header {
    display: block;
    background-color: lightblue;
    padding-top: 80px;
    
    background-image: url("images/hero.jpg");
    background-size: 100%;
    height:400px;
}

header .logo {

    width: 180px;
    height:130px;
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/penny-logo.png");
    text-indent: -9999999px;
    top: -60px;
    position: relative;
}

nav {
    display: block;   
    text-align: center;
}

ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}
li {
    display:inline-block;
   
    padding:10px;
    margin-right: 20px;
}

li:hover {
    background-color: yellow;
  }

/* selected link */
li:active {
    background-color: green;
}

#search {
    padding: 50px;
}

/* -- MAIN BODY -- */
body {
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    background-color: lightgray;
    padding: 20px;
    display:flex;
    flex-direction: row;
}

.triple {
    background-color:darkseagreen;
    margin: auto;
    padding: 20px;
}


/* -- FOOTER -- */

footer {
    background-color: black;
    color: white;
    display: block;
    padding: 20px;
}
