.container {
    background-color: lightgrey;
    width: 45em;
    display: grid;
    padding: .2em;
}

.row {
    margin: .2em;
}

.bgOutput {
    background-color: white;
    height: 8em;
}

.txtOutput {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6em;
    text-align: right;
    padding: 10px;
}

.btnNum {
    background-color: darkgray;
    width: 4em;
    padding: 10px;
    display: inline-block;
    font-size: 2.4em;
    text-align: center;
}